.App {
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
* {
  box-sizing: border-box;
}
.onePlayer {
  display: flex;
  justify-content: space-between;
  width: 700px;
}
